html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Amatic SC', cursive;
  background-image: url('../assets/background.png')
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height:1;
  margin-bottom: 0;
}

.container {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#player {
  margin:auto;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  width: 50px; /*essential for determining offset*/
  height: 50px; /*essential for determining offset*/
  z-index: 2;
}
.bar {
  position: absolute;
  height: 30px;
  width: 100px;
  background-color: red;
  z-index: 1;
}
#bar0 {
  left: 100px;
  top: 650px;
}

#bar1 {
  left: 275px;
  top: 550px;
}
#bar2 {
  left: 50px;
  top: 450px;
}
#bar3 {
  left: 650px;
  top: 450px;
}
#bar4 {
  left: 300px;
  top: 350px;
}
#bar5 {
  left: 500px;
  top: 250px;
}
#bar6 {
  left: 200px;
  top: 225px;
}
#bar7 {
  left: 80px;
  top: 125px;
}
#bar8 {
  left: 500px;
  top: 600px;
}
#bar9 {
  left: 800px;
  top: 300px;
}
#bar10 {
  left: 700px;
  top: 125px;
}
#bar11 {
  left: 850px;
  top: 550px;
}
#bar12 {
  left: 425px;
  top: 100px;
}

.credit.show {
  position: absolute;
  background-image: url('../assets/svg/coin5.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -100px;
  left: 35px;
  z-index: 1;
}

.score {
  background-color: orange;
  width: 75px;
  height: auto;
  border-radius: 10%;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 8em;
  text-align: center;
}

#infoBar {
  width: 300px;
  height: 100px;
  color: #fff;
  font-size: 3em;
  background-color: darkblue;
  z-index: 100;
  visibility: hidden;
}