html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Amatic SC', cursive;
  background-image: url('../assets/background.png')
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height:1;
  margin-bottom: 0;
}

.container {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

#player {
  margin:auto;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  width: 50px; /*essential for determining offset*/
  height: 50px; /*essential for determining offset*/
  z-index: 2;
}

#bar {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 300px;
  top: 500px;
  background-color: red;
  z-index: 1;
}

#bar1 {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 600px;
  top: 250px;
  background-color: red;
}
#bar2 {
  position: absolute;
  height: 30px;
  width: 100px;
  left: 800px;
  top: 350px;
  background-color: red;
}

#credit {
  position: relative;
  background-image: url('../assets/svg/coin25.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: -75px;
  left: 35px;
  z-index: 1;
}